{% extends 'vvmstk/index.html' %}
{% load static %}
{% block content %}
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>List of groups</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card text-dark bg-light" style="width: 18rem;">
              <div class="card-body py-5">
                <h5 class="card-title">Group 5 kategory "B"</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Date begin : 01.06.2022</li>
                <li class="list-group-item">Date end : 01.08.2022</li>
                <li class="list-group-item">price : 6000.00 UAH</li>
                <li class="list-group-item">Time learning : 140 h</li>
              </ul>
              <div class="card-footer d-flex ">
                <span class="ms-auto"> View Details </span>
                <span class="ms-auto">
                  <a href="#" class="card-link"><i class="bi bi-chevron-right "></i></a>
                  
                </span>
              </div>
            </div>
            
          </div>
          <div class="col-md-3 mb-3">
            <div class="card text-dark bg-light" style="width: 18rem;">
              <div class="card-body py-5">
                <h5 class="card-title">Group 5 kategory "B"</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Date begin : 01.06.2022</li>
                <li class="list-group-item">Date end : 01.08.2022</li>
                <li class="list-group-item">price : 6000.00 UAH</li>
                <li class="list-group-item">Time learning : 140 h</li>
              </ul>
              <div class="card-footer d-flex ">
                <span class="ms-auto"> View Details </span>
                <span class="ms-auto">
                  <a href="#" class="card-link"><i class="bi bi-chevron-right "></i></a>
                  
                </span>
              </div>
            </div>
            
          </div>
          <div class="col-md-3 mb-3">
            <div class="card text-dark bg-light" style="width: 18rem;">
              <div class="card-body py-5">
                <h5 class="card-title">Group 5 kategory "B"</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Date begin : 01.06.2022</li>
                <li class="list-group-item">Date end : 01.08.2022</li>
                <li class="list-group-item">price : 6000.00 UAH</li>
                <li class="list-group-item">Time learning : 140 h</li>
              </ul>
              <div class="card-footer d-flex ">
                <span class="ms-auto"> View Details </span>
                <span class="ms-auto">
                  <a href="#" class="card-link"><i class="bi bi-chevron-right "></i></a>
                  
                </span>
              </div>
            </div>
            
          </div>
          <div class="col-md-3 mb-3">
            <div class="card text-dark bg-light" style="width: 18rem;">
              <div class="card-body py-5">
                <h5 class="card-title">Group 5 kategory "B"</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Date begin : 01.06.2022</li>
                <li class="list-group-item">Date end : 01.08.2022</li>
                <li class="list-group-item">price : 6000.00 UAH</li>
                <li class="list-group-item">Time learning : 140 h</li>
              </ul>
              <div class="card-footer d-flex ">
                <span class="ms-auto"> View Details </span>
                <span class="ms-auto">
                  <a href="#" class="card-link"><i class="bi bi-chevron-right "></i></a>
                  
                </span>
              </div>
            </div>
            
          </div>
          <div class="col-md-3 mb-3">
            <div class="card text-dark bg-light" style="width: 18rem;">
              <div class="card-body py-5">
                <h5 class="card-title">Group 5 kategory "B"</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Date begin : 01.06.2022</li>
                <li class="list-group-item">Date end : 01.08.2022</li>
                <li class="list-group-item">price : 6000.00 UAH</li>
                <li class="list-group-item">Time learning : 140 h</li>
              </ul>
              <div class="card-footer d-flex ">
                <span class="ms-auto"> View Details </span>
                <span class="ms-auto">
                  <a href="#" class="card-link"><i class="bi bi-chevron-right "></i></a>
                  
                </span>
              </div>
            </div>
            
          </div>
        </div>
       
</main>
{% endblock %}